<!DOCTYPE html>
<html>
   <head><title>Chat menu</title></head>
   <body>
      <div id="error-container"></div>
      <p>Number of new messages: <%=count_new_message%></p>
      <a href="/chat/all" class="view-message">View my messages</a>
      <br><br>
   </body>
</html>