<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <title>Document</title>
</head>
<body>
    <div class="g_id_signout">
        <a href="/user/logout" id="signout_button">Sign out</a>        
    </div>
    <h2>Đăng nhập bằng Google</h2>
    <div id="g_id_onload"
        data-client_id="<%=client_id%>"
        data-context="signin"
        data-ux_mode="redirect"
        data-login_uri="/user/auth/google-login"
        data-auto_prompt="false">
    </div>

    <div class="g_id_signin"
        data-type="icon"
        data-shape="square"
        data-theme="outline"
        data-text="$ {button.text}"
        data-size="large"
        data-locale="vi">
    </div>
</body>
</html>