<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All my conversations: </h1>
    <% for (const res of AllConversation) {%>
        <p>Username: <b><%=res.username%></b></p>
        <img src="<%=res.avatar%>" alt="Avatar" style="border-radius: 50%;">
        <br>
        <p>Last message: <%=res.last_msg.message%></p>
        <form action="/chat/box/<%=res.partner_id%>" method="get">
            <button type="submit">View chat box</button>
        </form>
        <p>--------</p>
        <br><br>
    <%}%>
</body>
</html>